:root {
  --defaultPageColor: red
}

header div .vinicius-logo {
  color: white;
  font-weight: bolder;
}

header div .header-menu .nav-link {
  font-weight: bolder;
  padding: 5px;
  border-radius: 5px;
}

header div .header-menu .nav-link:hover {
  color: #c05de4;
}

@media screen and (max-width: 420px) {
  header {
    padding: 20px;
  }

  header div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  header div .header-menu {
    margin-top: 15px;
  }
}



header div{
  display: flex;
  justify-content: space-between;
}

header div .header-menu {
  display: flex;
  width: 250px  ;
  justify-content: space-evenly;
}