header {
  background-color: #f5f5f5;
  padding: 20px;
}

header div{
  display: flex;
  justify-content: space-between;
}

header div .header-menu {
  display: flex;
  width: 250px  ;
  justify-content: space-evenly;
}